@import '../../styles/normalize.css';
@import '../../styles/scss/common/mixins.scss';
@import '../../styles/scss/common/_nav-list';
@import '../../styles/scss/common/__buttons';

/* * {
  outline: 1px solid red;
} */

a:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}

body {
  width: 100%;
  min-height: 100%;

}

html,
body,
.page-wrapper {
  min-height: 100vh;
}

:root {
  font-family: Lato, 'Arial', sans-serif;
  font-size: 14px;
  color: white;
}


body {
  position: relative;
  overflow-x: hidden;

  background: url('../../assets/images/quiz-bg.png') center/cover no-repeat;
}

img {
  display: inline-block;
}


$block-gap: 20px;

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: $block-gap;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  padding: 20px 20px 20px;


}

.block {
  background: rgba(74, 82, 78, 0.8);
  box-shadow: 0 0 10px rgba(38, 121, 86, 1);
  border-radius: 15px;
}

.quiz-header {
  margin: 0 auto 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30%;
  width: 100%;

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .dashboard {
      font-size: 1.4em;
    }
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 48px;
    font-weight: 700;


    .logo__icon {
      &:hover {
        transform: scale(1.05, 1.05);
        transition: 0.3s;
      }
      

      display: block;
      width: 80px;
      height: 80px;
      border-radius: 10px;

      .logo__img {
        border-radius: 50%;
        box-shadow: 0 0 5px rgb(228, 201, 47);
        width: 100%;
        height: 100%;
      }
    }

    .logo-title {
      .logo-title__text_colored {
        color: rgb(0, 137, 102);
        text-shadow: 0 0 9px rgb(255, 255, 255);
      }
    }

  }

  .quiz-nav {
    width: 100%;
    @include flex-row-start-cent;
    row-gap: 5px;
    justify-content: stretch;

    .quiz-nav__list-item {
      display: block;
      padding: 0.2em;
      margin-right: 50x;
      border: 2px solid grey;
      font-size: 1.4em;
      text-decoration: none;
      background: #008966;
      user-select: none;
    }

    .quiz-nav__list-item_active {
      background: rgb(192, 116, 54);
      border: 2px solid rgb(177, 174, 174);
      box-shadow: 0 0 5px yellow;
    }
  }
}



.quiz-main {
  @include flex-column-start-cent;
  gap: $block-gap;
  width: 100%;

  .preview {
    width: 100%;

    .birds-card-play {}
  }

  .game-wrapper {
    @include flex-row-sb-start;
    gap: 30px;
    width: 100%;

    .bird-list,
    .bird-card-info-wrapper {
      width: 100%;
      flex: 1 1 calc(50% - $block-gap/2);
    }

    .bird-list {
      display: flex;
      padding: 5px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      list-style-type: none;
      font-size: 1.2em;

      .bird-list__list-item {
        @include flex-row-start-cent;
        gap: 20px;
        text-align: left;
        padding: 10px 20px 10px;
        width: 100%;
        background: rgba(74, 82, 78, 0.8);
        border-radius: 15px;
        border: 1px solid grey;

        &:hover {
          cursor: pointer;
          background: rgb(92, 90, 90);
          transition: 0.3s;
        }

        .bird-list__item-check {
          flex-shrink: 0;
          width: 15px;
          height: 15px;
          background: rgb(169, 169, 169);
          border-radius: 50%;
        }

        .bird-list__item-check_ok {
          background: #008000;
        }

        .bird-list__item-check_nok {
          background: #c7300b;
        }
      }

      .bird-list__list-item_checked {
        background: rgb(92, 90, 90);
        border-color: rgb(196, 192, 192);
        cursor: auto;
      }
    }

  }
}
.bird-card {
  @include flex-column-start-start;
  gap:20px;
  padding:10px;
  min-height: 180px;
  font-size:1.2em;
  .bird-card-img__cover {
    align-self:center;
    position:relative;
  .bird-card__img {
    flex-shrink: 0;
    align-self: center;
    border-radius: 10px;
    display: block;
    width:200px;
  }
}
.loading {
  position:absolute;
  padding:5px;
  overflow:hidden;
  z-index:100;
  width:100%;
  height:100%;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%); 
  background: url('../../assets/icons/loading-icon_64px.gif') center no-repeat;
}
  .bird-card__preview {
    @include flex-column-start-start;
    width:100%;
    .bird-card__name {
      font-size:1.4em;
    }
    .bird-card__gen {
      font-size:1.2em;
    }
    .card-preview__item {
      flex: 1 1;
      width:100%;
    }
    .bird-card__player {
      flex-grow: 1;
      
    }
  }
  .bird-card__description {
    font-size:1.0em;
  }
}
.bird-card-play {
  @include flex-row-start-cent;
  .bird-card__img {
    align-self: center;
  }
  .bird-card__description,
  .bird-card__gen {
    display:none;
  }
}

.player {
  display: flex;
  visibility:hidden;
  align-items: center;
  justify-content: flex-start;
  .player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //width: 120px;
  }
  

  .player-icon,
  .slider-icon,
  .change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: 0.5s;
  }

  .play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../../assets/icons/play.svg");
  }

  .pause {
    background-image: url("../../assets/icons/pause.svg");
  }

  .player-custom-ctrls {
    min-height: 43px;
    padding: 5px;
    width: 100%;
    font-size: 14px;
    text-align: left;
  }

  .track-name {
    text-align: left;
  }

  .play-bar {
    display:block;
    height: 7px;
    background: white;
    width: 100%;
    margin: 3px auto 3px auto;
    border: none;
    border-radius: 3px;
  }

  #playBar {//position:relative;
    -webkit-appearance: none;
    
    background:#3f751f;
    width: 100%;
    height:10px;
    border-radius: 4px;
    border:none;
  
  }
  #playBar:focus {
    outline:none;
  }
  #playBar::-webkit-slider-runnable-track {
    //position:absolute;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background:#292828;
    border:1px solid rgb(100, 99, 99);
  }
  
  #playBar::-webkit-slider-thumb {
    position:relative;
    transform: translateY(-25%);
    -webkit-appearance: none;
    border: 1px solid rgba(146, 145, 145, 0.9);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background:#3f751f;
  }
  #playBar::-webkit-slider-thumb::before {
    content:'';
    position:absolute;
    z-index:100;
    -webkit-appearance: none;
    top:0;left:-32px;
    width: 300px;
    height: 10px;
    border-radius: 4px;
    background:#82c727;
    border:1px solid rgb(100, 99, 99);
  }
  


  #playBar,
  .volume-bar,
  .volume-icon img:hover {
    cursor: pointer;
  }

  .volume-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;


  }

  .volume-icon {

    margin-right: 5px;
  }

  .volume-icon img {
    height: 14px;
    width: 14px;
    padding: 0;
    margin: 0;
    vertical-align: middle;

  }

  .volume-bar {
    height: 5px;
    width: 60px;
    background: #797676;
    margin-right: 10px;
  }

  .volume-current {
    background: white;
    width: 100%;
    height: 100%;
  }

  .play-time {
    text-align: right;
  }
}
.show-loaded {
  visibility:visible;
  transition: 0.6s;
}


.next-level-btn {
  cursor:not-allowed;

  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  user-select: none;
  font-size: 1.4em;
  color:#a5a2a2;

}

.next-level-btn_active {
  display: block;
  cursor: pointer;
  background: #008966;
  color:#ffffff;
  &:hover {
    transform: scale(1.02, 1.02);
    transition: 0.3s;
  }
}

.quiz-footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  height: 20%;
  width: 100%;
  background: rgba(74, 82, 78, 0.8);
  box-shadow: 0 0 10px rgba(38, 121, 86, 1);
  border-radius: 15px;
  padding: 0 10px;


}

/*----Show/hide---------*/
/* .bird-card {
  visibility: hidden;
  transition: 1.0s;
  display:none;
} */
.show {
  display:flex;
  visibility:visible;
  transition: 1.0s;
}







/*---------Media queries-----------*/

@media screen and (max-width:600px) {
  .page-wrapper {
    padding: 10px;
  }

  .quiz-header .quiz-nav .quiz-nav__list-item {
    font-size: 1.2em;
  }

  .quiz-main .game-wrapper {
    .bird-list {
      .bird-list__list-item {
        flex: 100%;
      }
    }

    flex-direction: column;
  }

  .quiz-main .quiz-quiz {
    font-size: 1.2em;
  }

  .quiz-header .quiz-nav .quiz-nav__list-item .nav-list__item-link {
    font-size: 1.2em;
  }

  .quiz-header {
    .logo {
      font-size: 34px;
      margin-right: 5px;

      .logo__icon {
        width: 40px;
        height: 40px;

      }
    }
  }
  .bird-card-play {
    @include flex-column-start-start;
  }
}

@media screen and (max-width:390px) {
  .quiz-header .header-wrapper {
    flex-direction: column;
  }
}