/* * { outline: 1px solid red} */
@import "../../assets/styles/reset.css";
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -40px;
}

button {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: #FFFFFF;
}

.btn-body {
  position: relative;
  z-index: 1;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  /* background-color:#F9804B; */
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
}
.btn-body::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: #E47209;
  border-radius: 25px;
  transition: 0.7s;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btn-body:hover::before {
  opacity: 1;
}
.btn-body:active::before {
  background: #4B9200;
  transition: 0.1s;
}

h2 {
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
}

h3 {
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
}

p {
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.subtitle {
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

body {
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.site-container {
  margin: 0 auto;
  width: 1600px;
  height: 3000px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  padding: 0 20px;
}

h1 {
  margin: 1px 0 0 0;
  padding: 0;
}

a,
li,
ul {
  font: inherit;
  text-decoration: none;
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
}

.header {
  position: relative;
  z-index: 5;
  height: 80px;
  width: 100%;
  color: #FFFFFF;
  background: #000000;
  backdrop-filter: blur(2px);
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header .container .header-left .logo {
  position: relative;
  width: 82px;
  height: 52px;
  border: 1.18841px solid #FFFFFF;
  border-radius: 2px;
  text-align: center;
  margin-right: 63px;
}
.header .container .header-left .logo:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}
.header .container .header-left .logo .logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 19.3px;
  line-height: 120%;
  letter-spacing: 0.04em;
}
.header .container .header-left .logo .logo-text a {
  color: inherit;
}
.header .container .header-left .logo .logo-svg {
  display: block;
  position: absolute;
  width: 11.03px;
  height: 24px;
  left: 9.5px;
  top: 21px;
}
.header .container .header-left .logo:hover {
  cursor: pointer;
}
.header .container .header-left a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
}
.header .container .header-left .nav-header ul li:not(:last-child) {
  margin-right: 58px;
  /*0.12288%*/
}
.header .container nav .nav-list .nav-item {
  display: block;
  position: relative;
  z-index: 1;
}
.header .container nav .nav-list .nav-item::before {
  position: absolute;
  transition-duration: 0.7s linear;
  /* orange */
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header .container nav .nav-list .nav-item::before a {
  text-decoration: underline;
}
.header .container nav .nav-list .nav-item:hover::before {
  opacity: 1;
}
.header .container .designed:hover {
  transition: 1.7s;
  /* orange */
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-active a:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.main {
  height: 100%;
  min-height: 100vh;
}

.section {
  width: 100%;
}

.subscribe {
  position: relative;
  height: 780px;
  margin-top: -80px;
  background: url("../../assets/images/main/Giant Panda dsktp.png") center/cover;
}
.subscribe .container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.spot-wrap {
  position: relative;
  top: 92px;
  margin-right: 109px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.spot {
  position: relative;
  margin-bottom: 56px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.spot .wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 83.5px;
  /*73px*/
  top: 74px;
}
.spot .spot-text-box {
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  letter-spacing: 0px;
  /* or 80px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 61px;
}
.spot .spot-text-box :nth-child(5) {
  color: #FFEE2E;
}
.spot button {
  margin-left: 3px;
}

.backstage {
  position: relative;
  z-index: 3;
  padding-top: 140px;
  position: relative;
  max-height: 605px;
  overflow: visible;
}
.backstage .flower {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 15px;
}
.backstage .flower-img {
  margin: 0;
  max-height: 605px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.backstage .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.backstage .container .bstge-text {
  max-width: 465px;
  height: 100%;
  align-self: flex-start;
}
.backstage .container .bstge-text h2 {
  margin: 0px 0 0.46em 0;
}
.backstage .container .bstge-text p {
  margin: 0 0 3.35em 0;
}
.backstage .container .bstge-text :last-child {
  line-height: 137%;
  margin: 0;
}
.backstage .container .bstge-text .subtitle {
  margin: 0 0 34px 0;
}
.backstage .container .bstge-img img {
  margin: 0;
  padding: 0;
}

/*-----pets---------*/
.pets {
  position: relative;
  padding-bottom: 104px;
  padding-top: 176px;
}
.pets .bg-fl-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.pets .bg-fl-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.pets .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.pets .pets-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 30px;
  row-gap: 20px;
  width: 1160px;
  height: 872px;
  flex: 0 1 calc(33.333% - 60px);
  margin-bottom: 80px;
}
.pets .pets-box .arrows {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 1;
  top: calc(50% - 31px);
  left: -82px;
  width: 1324px;
}
.pets .pets-box .arrows .pets-btn-left, .pets .pets-box .arrows .pets-btn-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.pets .pets-box .arrows .pets-btn-left:active, .pets .pets-box .arrows .pets-btn-right:active {
  background: #4B9200;
}
.pets .pets-box .arrows .pets-btn-left::before, .pets .pets-box .arrows .pets-btn-right::before {
  border-radius: 50%;
}
.pets .pet-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 366px;
  height: 426px;
  /* border-image: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  border-image-slice: 1; */
}
.pets .pet-card::before {
  content: "";
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  /* border: 1px solid transparent; */
  border-radius: 5px;
  padding: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.pets .pet-card .pet-foto {
  position: relative;
  max-width: 366px;
  max-height: 366px;
  overflow: hidden;
  border-radius: 5px;
  /* margin-top:0.5464%; */
}
.pets .pet-card .pet-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 9px 12px 12px 16px;
  background: white;
  border-radius: 5px;
}
.pets .pet-card .pet-title .pet-title-text .small-p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
}
.pets .pet-card .pet-title .pet-title-text :last-child {
  font-weight: 300;
  font-size: 15px;
  line-height: 115%;
  text-transform: none;
}
.pets .pet-card .pet-title .pet-title-icon img {
  display: block;
  /*  margin-top:4px; */
}

/* * {
    outline: 1px solid red;
} */

/*# sourceMappingURL=style.css.map */
