* { outline: 1px solid red};
@import "../../assets/styles/reset.css";
@import "mixins";
@import "nav-list";
@import "__colors";
@import "__buttons";
@import "__text";

body {
    margin: 0;
    padding: 0; /* calc(20px - (100vw - 100%)) 0 0; */
    min-height:100%;
    
   
}

.h1-custom {
    display: block;
    position: absolute;
    z-index: -1;
    font-size: 1px;

    color: #000000;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.site-container {
    margin: 0 auto;
    /* min-width: 1600px; */
    height: 100%;
   /*  width:100%; */
    
   /*  overflow: hidden; */
}

$margin-preview-head-hight: 80px;

.container {
    margin: 0 auto;
    max-width: 1220px;
    height: 100%;
    padding: 0 30px;
}

h1 {
    margin: 1px 0 0 0;
    padding: 0;
}

a,
li,
ul {
    font: inherit;
    text-decoration: none;
}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
}

.a-fader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.logo {
    position: relative;
    z-index:5;
    width: 82px;
    height: 52px;
    border: 1.18841px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
    /* margin-right: 63px; */

    &:hover {
        transform: scale(1.05, 1.05);
        transition: 0.3s;
    }

    padding-top:3px;


    .logo-text a {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 19.0px;
        line-height: 120%;
        letter-spacing: 0.0em;




    }

    .logo-svg {
        display: block;
        position: absolute;
        z-index:-1;
        width: 11.03px;
        height: 24.0px;
        left: 9.5px;
        top: 21.0px;
    }

     a:hover {
        cursor: pointer;
    }
}

.header {
    position: relative;
    z-index: 5;
    height: $margin-preview-head-hight;
    width: 100%;
    color: #FFFFFF;
    background: #000000;
    backdrop-filter: blur(2px);

    .container {
        @include flex-row-sb-cent;

        

        .header-left {
            @include flex-row-start-cent;




            nav a,
            .designed a {
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                /* or 22px */
                color: #FFFFFF;
            }

            .nav-header ul li:not(:last-child) {
               /*  margin-right: 58px; */
                
            }
        }


        nav {
            .nav-list {
                .nav-item {
                    display: block;
                    position: relative;
                    z-index: 3;
                    a {
                        white-space: nowrap;
                    }

                    li a:hover {

                        text-decoration: underline;


                    }

                    &:hover {


                        /* position: absolute; */
                        transition-duration: 0.7s linear;
                        /* orange */
                        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        /* z-index: -1; */
                        /*  opacity: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0; */
                    }

                    /* &:hover::before {
                        opacity: 1;
                    } */
                }


            }

        }

        .designed:hover {
            transition: 1.7s;
            /* orange */
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }




    }
}

.nav-active {
    .a-fader {
        display: block;
        z-index: 20;
    }

    a {
        font-size: 16px;
        font-weight: 500;
    }


    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    a:hover {
        color: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);


    }
}



.main {
    height: 100%;
    /* min-height: 100vh; */
}

.section {
    width: 100%;
}

.subscribe {
    position: relative;
    height: 780px;

    .container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        .btn-subscribe {position:absolute;
                right:129px;
                bottom:100px;
        }
    }

    margin-top: -$margin-preview-head-hight;
    background: url("../../assets/images/main/Giant Panda dsktp.png") center/cover;
}

.spot-wrap {
    position: relative;
    top: $margin-preview-head-hight+12px;
    margin-right: 109px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.spot {
    position: relative;

    margin-bottom: 56px;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;

        left: 83.5px;
        /*73px*/
        top: 74px;
    }

    .spot-text-box {
        font-weight: 700;
        font-size: 106.496px;
        line-height: 75%;
        letter-spacing: 0px;

        /* or 80px */
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
        margin-bottom: 61px;

        :nth-child(5) {
            color: $yellow_;
        }
    }

    button {
        margin-left: 3px;
    }

}

.backstage {
    position: relative;
    z-index: 3;
    padding-top: 140px;
    position: relative;
    max-height: 605px;
    overflow: visible;

    .flower {
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 15px;
        width:12.5625%;
        max-width:201px;
    }

    .flower-img {
        display: block;
        position: relative;
        z-index: -2;
        margin: 0;
        max-width:201px;
        width:100.00%;
        

        max-height: 605px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }

    .container {
        position: relative;
        z-index: 5;
        @include flex-row-sb-cent;

        .bstge-text {
            position: relative;
            z-index: 5;
            max-width: 465px;
            height: 100%;
            align-self: flex-start;

            h2 {
                margin: 0px 0 0.46em 0;
            }

            p {
                margin: 0 0 3.350em 0;

            }

            :last-child {
                line-height: 137%;
                margin: 0;
            }

            .subtitle {
                margin: 0 0 34px 0
            }

        }

        .bstge-img  {
            margin-right:31px;

            img {
            margin: 0;
            padding: 0;
            width:100%;
            }
        }
    }

}


/*-----pets---------*/
.pets {
    position: relative;
    padding-bottom: 100px;
    padding-top: 178px;

    .bg-fl-left {
        position: absolute;
        bottom: 0px;
        left: 0px;


    }

    .bg-fl-right {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }


    .container {
        @include flex-column-start-cent;
        padding: 0 29px;

    }

    .pets-box {
        position: relative;
       /*  display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 30px;
        row-gap: 20px; */
        display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap:30px;
  row-gap: 20px;

        max-width: 1160px;
       /*  max-height: 872px; */
       /*  flex: 0 0 calc(33.333% - 60px); */
        margin-bottom: 80px;

        .arrows {
            position: absolute;
            @include flex-row-sb-cent;
            flex: 0 1;
            top: calc(50% - 31px);
            left: -82px;
            max-width: 1324px;
            width:114.3351%;
            

            .pets-btn-left,
            .pets-btn-right {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 62px;
                height: 62px;
                border-radius: 50%;
                background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

                &:active {
                    background: $green_;


                }

                &::before {
                    border-radius: 50%;
                }

            }


        }
    }

    .pet-card:hover {
        .card-fade {
            /* transform: translateY(0%); */
            transition: 0.6s;
            height: 100%;
        }

        cursor:pointer;
        overflow:hidden;

        .pet-foto {
            transform: scale(1.054644, 1.054644);
            transition: 0.7s;
            overflow:hidden;
        }

        .pet-title {
            .pet-title-text {
                z-index: 7;
                transform: translateY(-120%);

                p {
                    color: white;
                }

                transition: 0.7s;
            }
        }
    }

    .pet-card {
        position: relative;
        flex-shrink:2;

        @include flex-column-start-cent;
        max-width: 366px;
        max-height: 426px;
        width:100%;
        height:auto;

        .card-fade {
            position: absolute;
            border-radius: 5px;
            z-index: 5;
            width: 100%;
            height: 0%;
            bottom: 0px;
            /* transform: translateY(100%); */
            background: rgba(19, 18, 18, 0.6);

        }

        &::before {
            content: "";
            position: absolute;
            z-index: 3;
            box-sizing: border-box;
            /* border: 1px solid transparent; */
            border-radius: 5px;
            padding: 1px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        /* border-image: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
border-image-slice: 1; */





        .pet-foto {
            position: relative;
           /*  max-width: 366px;
            max-height: 366px; */
            
            /* overflow: hidden; */
            border-radius: 5px;
            /* margin-top:0.5464%; */

            img {
                width:100%;
            }
        }


        .pet-title {
            /*  @include flex-row-sb-cent; */
            width: 100%;
            padding: 9px 12px 12px 16px;
            background: white;
            border-radius: 5px;

            .pet-title-text {
                position: relative;
                left: 0;
                float: left;

                .small-p {
                    margin: 0;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #000000;
                }

                :last-child {

                    font-weight: 300;
                    font-size: 15px;
                    line-height: 115%;
                    text-transform: none;
                }
            }

            .pet-title-icon {
                position: relative;
                margin-right: 0;
                float: right;
            }

            .pet-title-icon img {
                display: block;
                /*  margin-top:4px; */
            }
        }
    }
}

.pick-friend {

    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;

    .container {
        margin: 0 auto;
        height: 835px;

        .feed-stages {
            margin: 0 auto 60px auto;
            @include flex-row-sb-start;
            /* flex: 0 1 130px; */
            max-width: 764px;

            .stage-item-arrow {


                .arrow-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 130px;
                    height: 150px;
                }
            }

            .left_arrow {
                .arrow-box img {
                    margin-top: 6.5%;

                }
            }

            .stage-item-main {
                width: 168px;
                height: 244px;

                .stage-item-img {
                    position: relative;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 30px;
                    width: 168px;
                    height: 168px;
                    background: #FFFFFF;
                    border-radius: 5px;
                    border: 1px solid linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 3;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 1px;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                    }

                }

                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;

                    /* or 22px */

                    color: #333B41;
                }
            }
        }
    }

    .container .pick-friend-box {
        margin: 0 auto;
        /* text-align: center; */
        max-height: 835px;
        height: 100%;
        margin-bottom: 40px;
        padding-top: 0.83*$h2_f_size;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 20px;

        h2 {
            text-align: center;
            font-weight: 400;
            margin-block-start: 0.05em;
            color: #FE9013;
            margin-bottom: 0.6em;
        }

        h3 {
            text-align: center;
            font-weight: 400;
            margin-bottom: 39px;
        }

        .btn-feed {
            text-align: center;
            margin: auto;
            width: 298px;
            height: 54px;
        }

        .text_ {
            margin-left: 100px;
            margin-bottom: 60px;

            .wide {
                letter-spacing: 0;
                font-weight: 500;
            }

            .subtitle {
                margin-bottom: 1.70em;
            }

            p {
                a {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    color: #333B41;
                    border-bottom: 1px solid #FE9013;

                    text-decoration-line: none;

                    &:hover {
                        color: #FE9013;
                        transition: 0.3s;
                    }

                }

                margin: 0.625em auto;

            }
        }

    }
}

.testimonials {
    position: relative;
    height: 919px;
    padding-bottom: 192px;
    overflow: hidden;

    .bg-leav {
        position: absolute;
        bottom: -132px;
        right: 0px;
        z-index: -1;
    }

    .container {
        text-align: center;
        margin-top: 153px;
        height: 575px;


        h3 {
            font-weight: 400;
            margin-block-start: 0px;
            letter-spacing: 0px;
            margin-bottom: 47px;
        }

        .comments {
            @include flex-row-start-cent;
            gap: 30px;
            margin-bottom: 21px;
        }

        .comment-item {
            position: relative;
            z-index: 1;
            @include flex-column-start-start;
            width: 268px;
            /* decrease by 4 px*/
            height: 391px;
            /* decrease by 4 px*/
            padding: 15px 15px 19px 16px;
            background: #F1F3F2;
            border-radius: 20px;
            /* border: 2px solid; */



            &::before {
                content: "";
                position: absolute;
                z-index: 10;
                box-sizing: border-box;
                /* border: 1px solid transparent; */
                border-radius: 20px;
                /* border: 2px solid; */
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 2px;
                background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
                    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;

            }



            .item-header {
                @include flex-row-start-cent;

                .avatar {
                    margin-right: 10px;
                }

                .item-header-text {
                    text-align: left;

                    .avatar-title {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                        color: #000000;
                    }

                    .avatar-descr {
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 120%;
                        color: #BDBDBD;
                    }
                }

            }
        }

        .comment-text {
            text-align: left;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 0;
            ;
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            letter-spacing: 0.0px;

            /* or 18px */

            /* gray */
            color: #767474;
        }

        .comments-slider_track {
            margin: 0 auto 31px auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 8px;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 0.5px;
            background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
                linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        }

        .progress-bar-main {
            position: absolute;
            /*  margin: 0 auto 31px auto; */
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            background: #F5F7F6;
            border-radius: 5px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                position: relative;
                top: calc(50% - 3.0px);
                width: 115.2px;
                height: 6px;
                cursor: pointer;
                background: #FE9013;
                border-radius: 5px;
                
            }

            &::-webkit-slider-runnable-track {
                width: calc(100% - 1px);
                height: calc(100% - 1px);
                background: #F5F7F6;
                border-radius: 5px;
            }

            &::-moz-range-thumb {
                position: relative;
                top: calc(50% - 3.0px);
                width: 115.2px;
                height: 6px;
                cursor: pointer;
                background: #FE9013;
                border-radius: 5px;
                border: none;
            }

            &::-moz-range-track {
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                background: #F5F7F6;
                border-radius: 5px;
            }
        }

        .btn-testimonials {


            .btn-body {
                border-radius: 5px;

                &::before {
                    border-radius: 5px;
                }
            }
        }
    }
}

.f-footer {
    /* margin-top:-443px; */
    height: 444px;
    background: #111115;
    padding: 41px 0 50px 0;

    .container {
        display: flex;
        justify-content: center;
        position: relative;
        

        .btn-footer {
            position: absolute;
            top: 121px;
            left: 30px;

            .btn-body {
                border-radius: 5px;

                &::before {
                    border-radius: 5px;
                }
            }

        }

        .logo {
            position: absolute;
            top: 0;
            left: 30px;
            padding: 0;

            .logo-svg {
                top: 18.0px;
            }
        }

        .box-social-nav-design {
            position:relative;
            width:100%;
            @include flex-row-sb-end;

        .nav-footer {
            /* margin: auto auto 0 auto; */
            /* gap:58px; */
            /* 204px; */
            
           /*  ul li:not(:last-child) {
                margin-right: 58px;
               
            } */

            .nav-list .nav-item {
                display: block;
                position: relative;
                z-index: 3;

                li a:hover {

                    text-decoration: underline;


                }

                &:hover {


                    /* position: absolute; */
                    transition-duration: 0.7s linear;
                    /* orange */
                    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    /* z-index: -1; */
                    /*  opacity: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0; */
                }

                /* &:hover::before {
                    opacity: 1;
                } */
            }

            ul li {
                display: block;
                position: relative;

            }

           

            .nav-list {
                flex: 0 1;
                margin-bottom: 0;
            }
        }

        .social {
            
            /* position: absolute;
            left: 30px;
            bottom: 0px; */
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            /* gap: 10px; */

            .social-item {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    .img-box {
                        transition: 0.3s;
                        transform: scale(1.1, 1.1);
                    }

                    cursor:pointer;

                }

                &:active {
                    .img-box {
                        background: #4B9200;
                    }

                    .social-item__text {
                        color: #4B9200;
                    }
                }

                a {
                    display: block;
                }

                .img-box {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    background: #C4C4C4;
                    /* margin-right: 12px; */

                    a {
                        display: block;
                        border-radius: 50%;
                    }


                }

                .social-item__text {
                    line-height: 140%;

                }

            }



        }

        .footer__designed {
            /* position: absolute;
            bottom: 0;
            right: 30px; */
            /* text-align: center; */
            font-weight: 100;
            line-height: 130%;
            

            span {
                display: inline-block;
                margin-top: 10px;
            }

            .designed-wrapper {
                position: relative;

                a {
                    display: block;
                }

                &:hover {
                    & {
                        bottom: -1px;

                        .last {
                            margin-top: 9px;
                        }
                    }


                    span {
                        color: #4B9200;
                        border-bottom: 1px solid #4B9200;


                    }

                }
            }
        }
    }

    }
}

.footer-email {
    position: absolute;
    top: 0px;
    right: 30px;
    width: 367px;
    height: 87px;

    form {
        label {
            display: inline-block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #FFFFFF;
            margin-bottom: 14px;
        }

        input {
            display: inline-block;


        }

        input[type=email] {
            position: relative;
            z-index: 2;
            margin-right: 8px;
            padding: 10px 7px 10px 9px;
            width: 227px;
            height: 42px;
            border:0.7px solid;
            border-radius: 8px;
            background:transparent;
            border-image-source: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%); 
            border-image-slice:1;

             &:focus-visible {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-image-source: none;
                border: 1px solid #4B9200;
             }

            &[placeholder] {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #BDBDBD;
            }
        }

        input[type=submit] {
            cursor: pointer;
            width: 128px;
            height: 42px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            background: #F1F3F2;
            color: #333B41;
    border: 1px solid #333B41;
            border-radius: 5px;
            &:active {
                border: 1px solid #4B9200;
                color: #4B9200;
             }
        }
    }

}

@import "__media_main";







/* * {
    outline: 1px solid red;
} */