@charset "UTF-8";
@import '../../styles/normalize.css';
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-left: 0px;
}
.nav-list .nav-list__list-item .nav-list__item-link {
  display: inline-block;
  text-decoration: none;
}
.nav-list .nav-list__list-item .nav-list__item-link:-webkit-any-link {
  color: inherit;
}
.nav-list .nav-list__list-item .nav-list__item-link:hover {
  transition: 0.3s;
}

button {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: #FFFFFF;
  cursor: pointer;
}

.player {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: flex-start;
}
.player .player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player .player-icon,
.player .slider-icon,
.player .change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}
.player .play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../../assets/icons/play.svg");
}
.player .pause {
  background-image: url("../../assets/icons/pause.svg");
}
.player .player-custom-ctrls {
  min-height: 43px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
  text-align: left;
}
.player .track-name {
  text-align: left;
}
.player .play-bar {
  display: block;
  height: 7px;
  background: white;
  width: 100%;
  margin: 3px auto 3px auto;
  border: none;
  border-radius: 3px;
}
.player #playBar {
  -webkit-appearance: none;
  background: #3f751f;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  border: none;
}
.player #playBar:focus {
  outline: none;
}
.player #playBar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background: #292828;
  border: 1px solid rgb(100, 99, 99);
}
.player #playBar::-webkit-slider-thumb {
  position: relative;
  transform: translateY(-25%);
  -webkit-appearance: none;
  border: 1px solid rgba(146, 145, 145, 0.9);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #3f751f;
}
.player #playBar::-webkit-slider-thumb::before {
  content: "";
  position: absolute;
  z-index: 100;
  -webkit-appearance: none;
  top: 0;
  left: -32px;
  width: 300px;
  height: 10px;
  border-radius: 4px;
  background: #82c727;
  border: 1px solid rgb(100, 99, 99);
}
.player #playBar,
.player .volume-bar,
.player .volume-icon img:hover {
  cursor: pointer;
}
.player .volume-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.player .volume-icon {
  margin-right: 5px;
}
.player .volume-icon img {
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.player .volume-bar {
  height: 5px;
  width: 60px;
  background: #797676;
  margin-right: 10px;
}
.player .volume-current {
  background: white;
  width: 100%;
  height: 100%;
}
.player .play-time {
  text-align: right;
}

.show-loaded {
  visibility: visible;
  transition: 0.6s;
}

.bird-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  min-height: 180px;
  font-size: 1.2em;
  width: 100%;
}
.bird-card .bird-card-img__cover {
  align-self: center;
  position: relative;
}
.bird-card .bird-card-img__cover .bird-card__img {
  flex-shrink: 0;
  align-self: center;
  border-radius: 10px;
  display: block;
  width: 200px;
}
.bird-card .loading {
  position: absolute;
  padding: 5px;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../../assets/icons/loading-icon_64px.gif") center no-repeat;
}
.bird-card .bird-card__preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.bird-card .bird-card__preview .bird-card__name {
  font-size: 1.4em;
}
.bird-card .bird-card__preview .bird-card__gen {
  font-size: 1.2em;
}
.bird-card .bird-card__preview .card-preview__item {
  flex: 1 1;
  width: 100%;
}
.bird-card .bird-card__preview .bird-card__player {
  flex-grow: 1;
}
.bird-card .bird-card__description {
  font-size: 1em;
}

/* * {
  outline: 1px solid red;
} */
a:hover,
.gallery-btn:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}

body {
  width: 100%;
  min-height: 100%;
}

html,
body,
.page-wrapper {
  height: 100vh;
}

:root {
  font-family: Lato, "Arial", sans-serif;
  font-size: 14px;
  color: white;
}

body {
  position: relative;
  overflow: hidden;
  background: url("../../assets/images/bg-invite-page-1.jpg") center/cover no-repeat;
}

img {
  display: inline-block;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0px 20px 20px;
  max-width: 1280px;
  min-width: 300px;
}

.block {
  background: rgba(74, 82, 78, 0.8);
  box-shadow: 0 0 10px rgb(38, 121, 86);
  border-radius: 15px;
}

.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  visibility: visible;
  /* .back-btn:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s;
  } */
}
.gallery .quiz-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  justify-content: stretch;
}
.gallery .quiz-nav .quiz-nav__list-item {
  display: block;
  padding: 0.2em;
  margin-right: 50x;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 1.4em;
  text-decoration: none;
  background: #008966;
}
.gallery .quiz-nav .quiz-nav__list-item_active {
  background: rgb(192, 116, 54);
  border: 2px solid rgb(177, 174, 174);
  box-shadow: 0 0 5px yellow;
}
.gallery .quiz-nav__list-item:hover,
.gallery .back-btn:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  border: 2px solid yellow;
  transition: 0.3s;
}
.gallery .back-btn {
  margin: 0 auto;
  font-size: 1.4em;
  padding: 5px 10px;
  height: 35px;
  background: rgb(38, 121, 86);
  border-radius: 5px;
}
.gallery .bird-gallery {
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  max-width: 1280px;
}

.bird-gallery::-webkit-scrollbar,
.bird-card__description::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
}
.bird-gallery::-webkit-scrollbar-track,
.bird-card__description::-webkit-scrollbar-track {
  background: rgb(20, 20, 20); /* цвет дорожки */
}
.bird-gallery::-webkit-scrollbar-thumb,
.bird-card__description::-webkit-scrollbar-thumb {
  background-color: rgba(26, 90, 20, 0.8); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 1px solid rgb(112, 111, 27); /* padding вокруг плашки */
}

.bird-card {
  max-width: 600px;
  min-width: 280px;
  max-height: 400px;
  width: 100%;
  flex: 1 1 calc(30% - 100px);
}
.bird-card .bird-card__description {
  overflow-y: scroll;
}

.show-gallery {
  visibility: visible;
  top: 0;
  transition: 0.6s;
}

/*# sourceMappingURL=style.css.map */
